:root {
    /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400; */

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* -------------------------------- classi personalizzate ------------------------- */
body {
    margin: auto;
}

#main {
    /* padding: auto;
    margin: auto; */
    display: flex;
    border: whitesmoke 2px solid;
    width: 1100px;
    height: 98.5vh;

    /* flex-wrap: wrap; */
}

.aside {
    width: 15%;
    height: auto;
    background-color: rgb(102, 101, 100);
    border: 2px whitesmoke solid;
}

.styleAsideBox {
    height: 24.8%;
    background-color: antiquewhite;
    border: 1px black solid;
    cursor: pointer;
}

.styleAsideBox:hover {
    opacity: 0.6;
}
.cellsContainers {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    width: 75%;
    height: auto;
}

.batteryContainer {
    width: 10%;
    border: 3px solid white;
}

.styleSlot {
    height: 16.2%;
    border: 2px grey solid;
}

.fillSlot {
    background-color: green;
}

.cell {
    width: 15px;
    height: 15px;
    border: 2px white solid;
    cursor: pointer;
}

.stileNome {
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-size: larger;
}

.cell:hover {
    opacity: 0.6;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
