@import url("https://fonts.googleapis.com/css2?family=Micro+5+Charted&family=Pixelify+Sans:wght@500&family=Tiny5&display=swap");

:root {
    line-height: 1.5;
    /* font-weight: 400; */
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
}

h4 {
    margin-block: 0.8em;
}
/* -------------------------------- classi personalizzate ------------------------- */
body {
    font-family: "Tiny5", sans-serif;
    margin: auto;
}

.pointer {
    cursor: pointer;
}

#main {
    /* padding: auto;
    margin: auto; */
    display: flex;
    border: whitesmoke 2px solid;
    width: 1600px;
    height: 98.5vh;
}

.aside {
    width: 15%;
    height: auto;
    background-color: rgb(102, 101, 100);
    border: 2px whitesmoke solid;
}

.styleAsideBox {
    height: 24.8%;
    background-color: antiquewhite;
    border: 1px black solid;
    cursor: pointer;
}

.pStyle {
    font-size: 1.5em;
    font-weight: bold;
    color: black;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite both;
}

.block {
    display: block;
    margin: auto;
    margin-block: 2em;
    padding: 1em;
    border-radius: 30px;
}
/* .parent {
    position: relative;
}

.absolute {
    position: absolute;
    top: 5em;
    right: 0;
} */

.warning {
    padding-inline: 0.5rem;
    font-size: 2.5em;
    color: red;
}

.styleAsideBox:hover {
    opacity: 0.6;
}
.cellsContainers {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    width: 75%;
    height: auto;
}

.batteryContainer {
    width: 10%;
    border: 3px solid white;
}

.styleSlot {
    height: 16.2%;
    border: 2px grey solid;
}

.stileLogo {
    width: 40%;
    margin-block-start: 2em;
    border-radius: 30%;
}

.fillSlot {
    background-color: rgb(28, 220, 28);
}

.cell {
    width: 15px;
    height: 15px;
    border: 2px white solid;
    cursor: pointer;
}

.stileNome {
    text-align: center;
    color: black;
    font-size: larger;
}

.cell:hover {
    opacity: 0.6;
}

.red {
    background-color: red;
}

.strong-red {
    background-color: rgb(130, 5, 5);
    scale: 1.1;
}

.blue {
    background-color: blue;
}

.strong-blue {
    background-color: rgb(6, 6, 99);
    scale: 1.1;
}

.black {
    background-color: black;
}

.imgCompact {
    object-fit: cover;
    max-width: 60%;
    max-height: auto;
}

.vetrina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.velo {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #242424;
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0.7;
}

.veloText {
    height: 100%;
    color: rgb(255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    margin: 0;
}

.batteryCost {
    background-color: rgb(28, 220, 28);
    width: 30%;
    height: 20px;
    border: 2px black solid;
}

.wrapperBatteryCost {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 2px;
}

.messagebox {
    background-color: white;
    border: 3px black solid;
    width: 720px;
    text-align: center;
    background-image: url("../imgs/logo_transparent.png");
    background-position: center;
}

.alternativeSfondo {
    background-color: white;
    border: 3px black solid;
    width: 720px;
    text-align: center;
    /* background-image: url("../imgs/logo_transparent.png"); */
    background-position: center;
}

.gifDimension {
    width: 80px;
}

.h4Style {
    color: black;
    font-size: xx-large;
}

.button {
    width: 180px;
    height: 80px;
    border-radius: 20px;
    font-size: 20px;
    padding: 6px;
    font-family: "Tiny5", sans-serif;
}

.corpoLaser {
    background-color: rgb(14, 214, 198);
}

.button:hover {
    opacity: 0.8;
}

.d-flex {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.btnTime {
    padding: 1rem 2rem;
    border-radius: 30%;
    font-size: 1.5em;
    font-family: "Tiny5", sans-serif;
}

.btnTime:hover {
    opacity: 0.8;
}

.d-none {
    display: none;
}

#timer {
    color: #242424;
    font-size: 6em;
}

.selected {
    opacity: 0.6;
}

.black {
    background-color: #242424;
}

.flip-cell {
    animation: swing-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes swing-top-fwd {
    0% {
        scale: 1.4;
        transform: rotateX(0);
        /* transform-origin: top; */
    }
    100% {
        transform: rotateX(180deg);
        /* transform-origin: top; */
        scale: 1;
    }
}

.vibrate {
    animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-10-25 10:4:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@keyframes shake-horizontal {
    0%,
    100% {
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70% {
        transform: translateX(-5px);
    }
    20%,
    40%,
    60% {
        transform: translateX(5px);
    }
    80% {
        transform: translateX(4px);
    }
    90% {
        transform: translateX(-4px);
    }
}
