@import url("https://fonts.googleapis.com/css2?family=Micro+5+Charted&family=Pixelify+Sans:wght@500&family=Tiny5&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Micro+5+Charted&family=Pixelify+Sans:wght@500&display=swap');

.pixelify-sans {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
} */

:root {
    line-height: 1.5;
    /* font-weight: 400; */

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    /* font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
    /* font-family: "Pixelify Sans", sans-serif; */
}

/* -------------------------------- classi personalizzate ------------------------- */
body {
    /* font-family: "Micro 5 Charted", sans-serif; */
    font-family: "Tiny5", sans-serif;
    /* font-size: 2rem; */
    margin: auto;
    /* font-family: "PixelSans", sans-serif; */
}

.pointer {
    cursor: pointer;
}

#main {
    /* padding: auto;
    margin: auto; */
    display: flex;
    border: whitesmoke 2px solid;
    width: 1600px;
    height: 98.5vh;
}

.aside {
    width: 15%;
    height: auto;
    background-color: rgb(102, 101, 100);
    border: 2px whitesmoke solid;
}

.styleAsideBox {
    height: 24.8%;
    background-color: antiquewhite;
    border: 1px black solid;
    cursor: pointer;
}

.warning {
    font-size: 2em;
    color: red;
}

.styleAsideBox:hover {
    opacity: 0.6;
}
.cellsContainers {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    width: 75%;
    height: auto;
}

.batteryContainer {
    width: 10%;
    border: 3px solid white;
}

.styleSlot {
    height: 16.2%;
    border: 2px grey solid;
}

.stileLogo {
    width: 40%;
    margin-block-start: 2em;
    border-radius: 30%;
}

.fillSlot {
    background-color: rgb(28, 220, 28);
}

.cell {
    width: 15px;
    height: 15px;
    border: 2px white solid;
    cursor: pointer;
}

.stileNome {
    text-align: center;
    color: black;
    font-size: larger;
}

.cell:hover {
    opacity: 0.6;
}

.red {
    background-color: red;
}

.strong-red {
    background-color: rgb(130, 5, 5);
    scale: 1.1;
}

.blue {
    background-color: blue;
}

.strong-blue {
    background-color: rgb(6, 6, 99);
    scale: 1.1;
}

.black {
    background-color: black;
}

.imgCompact {
    object-fit: cover;
    max-width: 60%;
    max-height: auto;
}

.vetrina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.batteryCost {
    background-color: rgb(28, 220, 28);
    width: 30%;
    height: 20px;
    border: 2px black solid;
}

.wrapperBatteryCost {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 2px;
}

.messagebox {
    background-color: white;
    border: 3px black solid;
    width: 720px;
    text-align: center;
    background-image: url("../imgs/logo_transparent.png");
    background-position: center;
}

.h4Style {
    color: black;
    font-size: xx-large;
}

.button {
    width: 180px;
    height: 80px;
    border-radius: 20px;
    font-size: 20px;
    padding: 6px;
}

.button:hover {
    opacity: 0.8;
}

.d-none {
    display: none;
}

#timer {
    color: #242424;
    font-size: 6em;
}

.selected {
    opacity: 0.6;
}

.black {
    background-color: #242424;
}

.flip-cell {
    animation: swing-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes swing-top-fwd {
    0% {
        scale: 1.4;
        transform: rotateX(0);
        /* transform-origin: top; */
    }
    100% {
        transform: rotateX(180deg);
        /* transform-origin: top; */
        scale: 1;
    }
}

.vibrate {
    animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, 2px);
    }
    80% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}
